header, footer{
    text-align: center;
}

body{
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    height: 100vh;
}
.register-container, .login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.register-container>form{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-inputs-container{
    display: flex;
    justify-content: space-evenly;
}

.form-input-container{
    display: flex;
    flex-direction: column;
}
